@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");
:root {
  --cinza-escuro: #202020;
  --cinza: #383838;
  --cinza-medio: #585858;
  --cinza-medio-claro: #a3a3a3;
  --cinza-claro: #f2f2f2;
  --laranja: #ff9c2b;
  --roxo: #db8dff;
  --yellow: #fffc5f;
  --green: #26721f;
  --cinza-escuro-dark: #1b1b1b;
}

.portugues {
  color: #4da745;
}

.ingles {
  color: rgb(221, 62, 62);
}