* {
    font-family: 'Roboto Mono', monospace;  
    color: white;
    background-color: #1a1917;
    margin-left: 24px;
    margin-right: 24px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
}